<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="ContactFormEmailFromAddr" value="contactform@health.usf.edu"/>
      <setting name="ContactFormEmailToAddr" value="jihyunkim@health.usf.edu"/>
      <setting name="ContactFormEmailSubject" value="Information on COPH Online Programs Needed"/>

      <setting name="IMpactFormEmailFromAddr" value="impact@health.usf.edu"/>
      <setting name="IMpactFormEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="IMpactFormEmailSubject" value="IMpact New Submission"/>
    
      <setting name="CIRPEmailFromAddr" value="CIRP@health.usf.edu"/>
      <setting name="CIRPEmailToAddr" value="jihyunkim@health.usf.edu"/>
      <setting name="CIRPEmailSubject" value="CIRP - Service Request"/>
      
      <setting name="AOEEmailFromAddr" value="contactform@health.usf.edu"/>
      <setting name="AOEEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="AOEEmailSubject" value="Award of Excellence Inquiry"/>

      <setting name="MSEmailFromAddr" value="contactform@health.usf.edu"/>
      <setting name="MSEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="MSEmailSubject" value="Memory Screening Request"/>

      <setting name="CTEmailFromAddr" value="contactform@health.usf.edu"/>
      <setting name="CTEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="CTEmailSubject" value="Clinical Trials Inquiry"/>

      <setting name="GECEmailFromAddr" value="contactform@health.usf.edu"/>
      <setting name="GECEmailToAddr" value="jdorsey1@health.usf.edu;jddorsey@mail.usf.edu"/>
      <setting name="GECEmailSubject" value="Geriatric Health Care Conference Registration"/>

      <setting name="PermReqEmailFromAddr" value="contactform@health.usf.edu"/>
      <setting name="PermReqEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="PermReqEmailSubject" value="Course Permit Request Form"/>
    
      <setting name="FPQC_RegisterEmailFromAddr" value="contactform@health.usf.edu"/>
      <setting name="FPQC_RegisterEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="FPQC_RegisterEmailSubject" value="FPQC Mailing List Registration"/>
    
      <setting name="DiagnosticLab_ContactEmailFromAddr" value="contactform@health.usf.edu"/>
      <setting name="DiagnosticLab_ContactEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="DiagnosticLab_ContactEmailSubject" value="Submit a Question Form Response"/>

      <setting name="Peds_JoinUsEmailFromAddr" value="contactform@health.usf.edu"/>
      <setting name="Peds_JoinUsEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="Peds_JoinUsEmailSubject" value="Join Us - Registration"/>
      
      <setting name="ShimLib_EmailFromAddr" value="contactform@health.usf.edu"/>
      <setting name="SL_DocDeliveryEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="SL_DocDeliveryEmailSubject" value="Shimberg Library - Document Delivery for Non-USF Patrons"/>
      <setting name="SL_ReqConsultEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="SL_ReqConsultEmailSubject" value="Shimberg Library - Request a Consultation"/>
      <setting name="SL_ScheduleEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="SL_ScheduleEmailSubject" value="Shimberg Library - Schedule a Library Class"/>
      <setting name="SL_PurchaseEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="SL_PurchaseEmailSubject" value="Shimberg Library - Suggest a Library Purchase"/>
      <setting name="SL_CommentEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="SL_CommentEmailSubject" value="Shimberg Library - Send Us a Comment"/>

      <setting name="WHOCC_ContactEmailFromAddr" value="contactform@health.usf.edu"/>
      <setting name="WHOCC_ContactEmailToAddr" value="jdorsey1@health.usf.edu"/>
      <setting name="WHOCC_ContactEmailSubject" value="WHO CC Contact Form"/>
    </settings>
  </sitecore>
</configuration>