<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentManagement or Processing" search:require="solr">
        <contentSearch>
            <indexConfigurations>
                <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
                    <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
                        <fieldNames hint="raw:AddFieldByFieldName">
                            <field fieldName="healthisblogcategory" returnType="string" />
                            <field fieldName="healthisblogtag" returnType="string" />
                        </fieldNames>
                    </fieldMap>
                    <fields hint="raw:AddComputedIndexField">
                        <!-- Update namespace for Solr -->
                        <field fieldName="healthisblogcategory" returnType="string">HealthIS.Apps.MVC.Blog.Solr.HealthISBlogCategory,HealthIS.Apps.MVC.Blog</field>
                        <field fieldName="healthisblogtag" returnType="string">HealthIS.Apps.MVC.Blog.Solr.HealthISBlogTag,HealthIS.Apps.MVC.Blog</field>
                    </fields>
                </defaultSolrIndexConfiguration>
            </indexConfigurations>
            <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
                <indexes hint="list:AddIndex">
                    <index id="health_is_blog_search_master" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
                        <param desc="name">$(id)</param>
                        <param desc="folder">$(id)</param>
                        <!-- This initializes index property store. Id has to be set to the index id -->
                        <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
                        <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
                            <include hint="list:IncludeTemplate">
                                <template>{3E1284D6-5E20-44D4-AA83-B02C54A7F2D9}</template>
                            </include>
                            <IndexAllFields>true</IndexAllFields>
                        </configuration>
                        <strategies hint="list:AddStrategy">
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <healthisblog type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/content/Home/is/blog</Root>
                            </healthisblog>
                        </locations>
                    </index>
                    <index id="health_is_blog_search_web" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
                        <param desc="name">$(id)</param>
                        <param desc="folder">$(id)</param>
                        <!-- This initializes index property store. Id has to be set to the index id -->
                        <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
                        <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
                            <include hint="list:IncludeTemplate">
                                <template>{3E1284D6-5E20-44D4-AA83-B02C54A7F2D9}</template>
                            </include>
                            <IndexAllFields>true</IndexAllFields>
                        </configuration>
                        <strategies hint="list:AddStrategy">
                            <!-- NOTE: order of these is controls the execution order -->
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <healthisblog type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>web</Database>
                                <Root>/sitecore/content/Home/is/blog</Root>
                            </healthisblog>
                        </locations>
                    </index>
                </indexes>
            </configuration>
        </contentSearch>
    </sitecore>
</configuration>