<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or Reporting or ContentManagement or Processing" search:require="Azure">
        <contentSearch>
            <indexConfigurations>
                <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">
                    <fieldMap type="Sitecore.ContentSearch.Azure.FieldMaps.CloudFieldMap, Sitecore.ContentSearch.Azure">
                        <fieldNames hint="raw:AddFieldByFieldName">
                            <field fieldName="healthisblogcategory" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
                            <field fieldName="healthisblogtag" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
                        </fieldNames>
                    </fieldMap>
                    <fields hint="raw:AddComputedIndexField">
                        <!-- Update namespace for Azure Search (Cloud) -->
                        <field fieldName="healthisblogcategory">HealthIS.Apps.MVC.Blog.Azure.HealthISBlogCategory,HealthIS.Apps.MVC.Blog</field>
                        <field fieldName="healthisblogtag">HealthIS.Apps.MVC.Blog.Azure.HealthISBlogTag,HealthIS.Apps.MVC.Blog</field>
                    </fields>
                </defaultCloudIndexConfiguration>
            </indexConfigurations>
            <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
                <indexes hint="list:AddIndex">
                    <index id="health_is_blog_search_master" type="Sitecore.ContentSearch.Azure.CloudSearchProviderIndex, Sitecore.ContentSearch.Azure">
                        <param desc="name">$(id)</param>
                        <param desc="connectionStringName">cloud.search</param>
                        <param desc="totalParallelServices">5</param>
                        <!-- This initializes index property store. Id has to be set to the index id -->
                        <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
                        <configuration ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration">
                            <include hint="list:IncludeTemplate">
                                <template>{3E1284D6-5E20-44D4-AA83-B02C54A7F2D9}</template>
                            </include>
                            <IndexAllFields>true</IndexAllFields>
                        </configuration>
                        <schemaBuilder ref="contentSearch/searchServiceSchemaBuilder" />
                        <searchService type="Sitecore.ContentSearch.Azure.Http.CompositeSearchService, Sitecore.ContentSearch.Azure"/>
                        <strategies hint="list:AddStrategy">
                            <!-- NOTE: order of these is controls the execution order -->
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <healthisblog type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/content/Home/is/blog</Root>
                            </healthisblog>
                        </locations>
                        <enableItemLanguageFallback>false</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
                    </index>
                    <index id="health_is_blog_search_web" type="Sitecore.ContentSearch.Azure.CloudSearchProviderIndex, Sitecore.ContentSearch.Azure">
                        <param desc="name">$(id)</param>
                        <param desc="folder">$(id)</param>
                        <!-- This initializes index property store. Id has to be set to the index id -->
                        <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
                        <configuration ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration">
                            <include hint="list:IncludeTemplate">
                                <template>{3E1284D6-5E20-44D4-AA83-B02C54A7F2D9}</template>
                            </include>
                            <IndexAllFields>true</IndexAllFields>
                        </configuration>
                        <strategies hint="list:AddStrategy">
                            <!-- NOTE: order of these is controls the execution order -->
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <healthisblog type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>web</Database>
                                <Root>/sitecore/content/Home/is/blog</Root>
                            </healthisblog>
                        </locations>
                    </index>
                </indexes>
            </configuration>
        </contentSearch>
    </sitecore>
</configuration>