@using Sitecore.Mvc
@using HealthIS.Apps.MVC
@{
    if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <script>
            jQuery(document).ready(function () {
                autoSave();
            });
        </script>
        <style>.col-left-adjust { margin-top: 40px; }</style>
    }
}
<div class="row">
    <div class="col-sm-3 col-left-adjust">
        <!-- left nav root element goes here -->
        @Html.Sitecore().Placeholder("Vertical Navigation") @Helpers.placeholderRequired("Vertical Navigation")
        @Html.Sitecore().Placeholder("Contact Information")
    </div>
    <div class="col-sm-9 col-right-adjust">
        @Html.Sitecore().Placeholder("Nursing Page Type")
    </div>
</div>
<nav id="social-nav">
        <h3>Connect with us!</h3>
        <ul class="social-list">
            <li><a href="https://www.facebook.com/USFHealthNurse"><img src="/~/media/5215A4B837FC4BA6B78A3D32B78994B3.ashx" alt=""></a></li>
            <li><a href="https://twitter.com/usfhealthnurse"><img src="/~/media/00D7321F481E47AC9CD0CD471584D67D.ashx" alt=""></a></li>
            <li><a href="http://hscweb3.hsc.usf.edu/health/nursing/dean/"><img src="/~/media/29CCC127D80C4ADCA9BA097D3BDE68D3.ashx" alt=""></a></li>
            <li><a href="http://www.youtube.com/playlist?list=PL6AC3213B7CE72CED&amp;feature=plcp"><img src="/~/media/8D5A1619BD0D441F8E22B60D8FC44EA4.ashx" alt=""></a></li>
            <li> <a target="_blank" href="https://instagram.com/usfhealthnurse/"><img src="/~/media/968BE7A8E9FC4918B4E08B22F385B049.ashx" alt=""></a></li>
            <li><a href="http://pinterest.com/usfnursing/"><img src="/~/media/889D7AE01FE9439A83F8AAA8C9763C66.ashx" alt=""></a></li>
        </ul>
    </nav>