<!--**** START - Top Level Header ****-->
<header id="health-header" role="banner">
    <div class="container block-center" id="health-header-inner">
        <nav class="health-links menu-hidden">
            <button id="health-menu-toggle" class="text-hide icon-reorder">Menu</button>
            <ul class="clearfix">
                <li><a href="http://health.usf.edu/news">News</a></li>
                <li><a href="http://health.usf.edu/education">Education</a></li>
                <li><a href="http://health.usf.edu/research">Research</a></li>
                <li><a href="http://health.usf.edu/doctors/">Patient Care</a></li>
            </ul>
        </nav>
        <nav class="usf-links">
            <ul class="clearfix">
                <li><a href="http://health.usf.edu"><i class ="icon-home">&nbsp;</i>USF Health</a></li>
                <li><a href="http://www.usf.edu">USF</a></li>
                <li><a href="http://search.usf.edu/search?btnG=USF+Health+Search&amp;access=p&amp;btng=Search&amp;client=health&amp;proxystylesheet=health&amp;output=xml_no_dtd&amp;sort=date%3AD%3AL%3Ad1&amp;oe=UTF-8&amp;ie=UTF-8&amp;ud=1&amp;exclude_apps=1&amp;site=health">Search</a></li>
            </ul>
        </nav>
    </div>
</header>
<!--**** END - Top Level Header ****-->