<header>
    How can we help <img src="http://health.usf.edu/layouts/images/ptbr_question.png">
</header>

<div class="pt-box-panel">
    <nav class="pt-box-links">
        <ul>
            <li class="pt-box-phone doctors-cta">
                <span class="pt-box-link">
                    <strong>
                        <a href="@Model.PatientToolBox" onclick="_gaq.push(['_trackEvent','Phone Call Tracking','Click/Touch','Footer']);">@Model.PatientToolBox</a>
                    </strong> for all appointments
                </span>
            </li>
            <li>
                <a class="doctors-cta bg-usf-gray4" href="http://hsccf.hsc.usf.edu/clinicaldirectory/directorysearch/search.cfm" id="linkSearch">
                    <span class="pt-box-link "><strong>Find</strong>a doctor</span>
                </a>
            </li>
            <li>
                <a class="doctors-cta bg-sky-lighter" href="https://hsccf.hsc.usf.edu/patientappointment/requestform.cfm" id="linkAppt">
                    <span class="pt-box-link"><strong>Request</strong>an appointment online</span>
                </a>
            </li>
            <li>
                <a class="doctors-cta bg-sky-lighter" href="http://health.usf.edu/doctors/medical-professionals.html" id="linkReferral">
                    <span class="pt-box-link"><strong>Refer</strong>a patient</span>
                </a>
            </li>
        </ul>
    </nav>
</div>