<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:added">
        <handler type="HealthIS.Apps.MVC.UserActivityLog.UserEvents, HealthIS.Apps.MVC.UserActivityLog" method="ItemAdded">
        </handler>
      </event>
      <event name="item:copied">
        <handler type="HealthIS.Apps.MVC.UserActivityLog.UserEvents, HealthIS.Apps.MVC.UserActivityLog" method="ItemCopied">
        </handler>
      </event>
      <event name="item:renamed">
        <handler type="HealthIS.Apps.MVC.UserActivityLog.UserEvents, HealthIS.Apps.MVC.UserActivityLog" method="ItemRenamed">
        </handler>
      </event>
      <event name="item:saved">
        <handler type="HealthIS.Apps.MVC.UserActivityLog.UserEvents, HealthIS.Apps.MVC.UserActivityLog" method="ItemSaved">
        </handler>
      </event>
      <event name="item:deleted">
        <handler type="HealthIS.Apps.MVC.UserActivityLog.UserEvents, HealthIS.Apps.MVC.UserActivityLog" method="ItemDeleted">
        </handler>
      </event>
      <event name="item:moved">
        <handler type="HealthIS.Apps.MVC.UserActivityLog.UserEvents, HealthIS.Apps.MVC.UserActivityLog" method="ItemMoved">
        </handler>
      </event>
      <event name="item:versionadded">
        <handler type="HealthIS.Apps.MVC.UserActivityLog.UserEvents, HealthIS.Apps.MVC.UserActivityLog" method="ItemVersionAdded">
        </handler>
      </event>
      <event name="publish:end">
        <handler type="HealthIS.Apps.MVC.UserActivityLog.UserEvents, HealthIS.Apps.MVC.UserActivityLog" method="PublishEnd">
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>